
.loginsignup {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 2em;
    background-color: rgb(237, 235, 235);
    /* margin-bottom: 3em; */
    padding-bottom: 10vw;
    padding-top: 5vw;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Ombre noire semi-transparente */
  z-index: 1;
}

.loginsignup-container {
    position: relative;
    z-index: 2;
    border-radius: 5px;
    width: 25%;
    /* height: 100%; */
    margin: auto;
    padding: 3em;
    padding-top: 0.5em;
    background-color: rgb(255, 255, 255);
}

.loginsignup-container h2 {
    text-align: center;
    margin-bottom: 0;
}

.loginsignup-container hr {
    width: 22%;
    height: 0.2em;
    /* border-radius: 50px; */
    background-color: black;
}




/* .inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8em;
    padding-top: 0.4em;

} */

.input {
    /* display: flex;
    flex-direction: column; */
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    position: relative;
/* border: 1px solid; */
}

.input label {
    position: absolute;
    top: 0;
    left: 5px;
    /* font-size: 0.3rem; */
    transform: translateY(-50%);
    padding: 0.5px;
    pointer-events: none;
    transition: opacity 0.2s ease, top 0.2s ease;
}

.input input {
    border: none;
    /* width: 90%; */
    height: 2.5em;
    padding-left: 1.5em;
    border: 1px solid rgb(175, 178, 181);
    outline: none;
    font-size: 16px;
    color: black;

}

.input input:focus ~ label,
.input input:valid ~ label {
    top: 0;
    font-size: 0.88rem;
    background-color: white;
    color: #5a5a5a;

}

.toggle_password {
    position: absolute;
    right: 0.8vw; 
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #aaa;
    font-size: 20px;
}


.submit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forgot-password {
    color: rgb(104, 106, 108);
    font-size: 0.9rem;
    padding-top: 1vw;
}

.signup,
.login {
    color: rgb(104, 106, 108);
    font-size: 0.9rem;

}

.loginsignup-agree {
    display: flex;
    align-items: center;
    margin-top: 0.5vw;
    gap: 5px;
    font-size: 0.9rem;
    color: rgb(21, 21, 21);
    font-weight: bold;
}


.submit-container button {
    width: 100%;
    height: 2em;
    color: white;
    background-color: rgb(11, 85, 89);
    margin-top: 1.3em;
    border: none;
    font-size: 1.3em;
    font-weight: bold;
    cursor: pointer;
border-radius: 5px;
}

.forgot-password a,
.signup a,
.login a {
    text-decoration: none;
    cursor: pointer;

}

.forgot-password span,
.signup span,
.login span {
    font-size: 0.8rem;
    margin-left: 0.4vw;
    padding: 0.1vw;
    padding-left: 0.2vw;
    padding-right: 0.2vw;
    border-radius: 5vw;
    background-color: rgb(219, 251, 252);
}

.input_span {
    color: red;
    font-size: 0.9rem;
    font-style: italic;
    font-weight: 400;
}

.btnc_spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db; 
    border-radius: 50%;
    width: 0.7vw;
    height: 0.7vw;
    margin-left: 12vw;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



 @media screen and (max-width:1280px) {

    /* .loginsignup {
        height: 100vh;
    } */
     .loginsignup-container {
        width: 50%;
        /* margin-bottom: 33vw;
        margin-top: 1.9vw; */
        /* height: 100%; */
     }
     .toggle_password {
    font-size: 2.3rem;
    right: 3vw;
}

     .loginsignup-container h2 {
font-size: 2.2rem;
}

.loginsignup-container hr {
    width: 50%;
}

    .input {
        height: 7vw;
        margin-top: 2vw;
    }

    .input input {
        font-size: 1.6rem;
    }

    .submit-container button {
        /* width: 29vw; */
        height: 5vw;
    }

    .forgot-password span,
    .signup span,
    .login span {
        font-size: 1rem;
    }
.input input:focus ~ label,
.input input:valid ~ label {
    font-size: 1.3rem;

}
.forgot-password {
    font-size: 1.3rem;
}

.loginsignup-container .input_span {
    font-size: 1.3rem;
}
.submit-container button {
    height: 3em;
    margin-top: 2em;
    font-size: 1.7em;
}



}




@media screen and (max-width:1024px) {
    .loginsignup-container {
        width: 50%;
    }

    .input {
        height: 5vw;
    }

    .input input {
        font-size: 1.8vw;
    }
    .toggle_password {
        right: 3vw; 
        top: 50%;
        font-size: 1.2rem;
    
    }
    

    .submit-container button {
        /* width: 29vw; */
        height: 5vw;
    }

    .forgot-password span,
    .signup span,
    .login span {
        font-size: 12px;
    }


}

@media screen and (max-width:800px) {
    .loginsignup-container {
        width: 45%;
    }

    .input {
        height: 6vw;
    }

    .input input {
        font-size: 2vw;
    }

    .submit-container button {
        /* width: 29vw; */
        height: 6vw;
    }

    .forgot-password span,
    .signup span,
    .login span {
        font-size: 12px;
    }

}


@media screen and (max-width:500px) {
    .loginsignup {
        /* height: 55vh; */
        display: flex;
        padding-top: 6vw;
        padding-bottom: 20vw;
    }
    .loginsignup-container {
        width: 75%;
        margin-top: 2vw;
        padding-left: 5vw;
        padding-right: 5vw;
        /* margin: 1vw; */
    }
    .loginsignup-container h2 {
        font-size: 1rem;
        margin-bottom: 2vw;
    }
    .loginsignup-container hr {
        height: 0.4vw;
        margin-top: 0;
        width: 20%;
    }
    .input {
        height: 10vw;
        align-items: center;
        justify-content: center;
        margin-top: 5vw;
    }

    .input input {
        height: 9vw;
        font-size: 0.9rem;
        padding-left: 4vw
    }
    .submit-container button {
        width: 100%;
        height: 10vw;
        font-weight: 500;
        font-size: 1.1rem;
    }
      .forgot-password {
        margin-top: 5vw;
      }

    .forgot-password span,
    .signup span,
    .login span {
        font-size: 0.7rem;

    }
    .loginsignup-agree {
        margin-top: 1vw;
    }
.toggle_password {
    right: 3vw; 
    top: 60%;
    font-size: 1.2rem;

}
.forgot-password,
.signup {
    font-size: 0.8rem;
}
.input input:focus ~ label,
.input input:valid ~ label {
    font-size: 0.7rem;

}
.loginsignup-container .input_span {
    font-size: 0.8rem;
}


}

