








.boutique_box_contain {
        margin-left: 12vw;
    margin-right: 12vw;
    margin-bottom: 6vw;

}

.boutique_box_item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2vw;
    padding-top: 1vw;
    /* margin-bottom: 4vw; */
}

.boutique_box_top {
        display: flex;
    justify-content: center;
      font-style: italic;

}



.cards {
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    padding: 0.5vw;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.card_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1vw;
}

.card_name h2 {
    margin: 0;
}

.card_image {
    /* border: 1px solid; */
    height: 10vw;
    border-radius: 5px;
}

.card_badge {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
        border-radius: 5px;

}

.card_badge_item {
    font-size: 1.3rem;
    color: rgb(38, 38, 250);
}

.card_badge span {
    font-size: 0.7rem;
    color: rgb(0, 137, 216);
    padding: 0.1vw;
    border-radius: 8px;
    background-color: rgb(205, 237, 255);
}
.card_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* float: right; */
    margin-top: 1vw;
}

.card_bottom span {
    font-size: 1rem;
    font-weight: 500;
    /* color: rgb(252, 180, 63); */
}

.card_bottom button {
    background-color: rgb(11, 85, 89);
    color: white;
    border: none;
    padding: 0.5vw 1vw;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}